<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Drinkers</h1>
    <p class="lead">Below you will find all of the drinkers. For statistics on a single drinker, click on a drinker's name.</p>
  </div>
</div>
  

<div class="container">
  <p-table [value]="drinker">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>State</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-drinker>
      <tr>
        <td>
            <a routerLink="/drinker/{{drinker.name}}">
              {{ drinker.name }}
            </a>
        </td>
        <td>{{drinker.address}}</td>
        <td>{{drinker.state}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
  
  
  
  <br><br>